:root { 
--black_900_4c:#0000004c; 
--black_900_7e:#0000007e; 
--red_600:#e33233; 
--black_900_6c:#0000006c; 
--gray_900:#251c15; 
--black_900_0f:#0000000f; 
--red_500:#ff3737; 
--light_blue_500:#0aaaf4; 
--gray_100:#f4f4f4; 
--teal_A400:#1ad698; 
--black_900_33:#00000033; 
--black_900:#000000; 
--indigo_A700:#4339f2; 
--yellow_700:#f8bd1c; 
--black_900_63:#00000063; 
--deep_purple_A400:#891be8; 
--white_A700:#ffffff; 
}